KC_HEALTH_ENABLED=true
KC_HOSTNAME=https://kravhantering.example.internal/auth
KC_HTTP_ENABLED=true
KC_HTTP_PORT=8080
KC_PROXY_HEADERS=xforwarded
KEYCLOAK_ADMIN=replace-with-keycloak-admin-user
KEYCLOAK_ADMIN_PASSWORD=replace-with-keycloak-admin-password
